body{

	margin: 0;
	padding: 0;
	height: 100%;
    background-color: #000C69 ;
}


.intro{
    
	
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


#loader{
    background: #050a30 url(images/loader.gif) no-repeat center center;
    background-size: 48;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

@keyframes changeBgColor{
    0%     {background-color: #D0E3F1;}
    25%    {background-color: #519ed4;}
    50%    {background-color: #0093D4;}
    75%    {background-color: #519ed4;}
    100%   {background-color: #D0E3F1;}
  }
  
  
  @keyframes movement{
      from{padding-left: 0%;}
      to{
          padding-left: 93%;}
  }
  
  .div1{
      width: 100%;
      animation-name: changeBgColor;
      animation-duration: 4s;
      animation-iteration-count: infinite;
  }
  
  .move{
      animation-name: movement;
      animation-duration: 3s;
      animation-iteration-count: infinite;
  }